@media screen and (max-width: 767px) {
    .post {
        width: 280px;
        margin: auto;
        .line {
            .description {
                &.web {
                    width: 100%;
                }
                &.right {
                    padding: 0;
                }
                &.left {
                    padding: 0;
                }
            }
            .image {
                &.web {
                    img {
                    	width: 100%;
                    }
                }
            }
        }
    }
}