extends layout.pug

block header
	header.header
		div.container
			div.row
				div.col-xs-12
					div.avatar
						img(src='images/avatar.jpg' alt="greenzelen avatar")
						h1.h1 UI Design by Greenzelen
					div.socials
						div.row
							div.col-xs-4.col-sm-2
								div.twitter
									a(href="https://twitter.com/green_zelen" target="_blank")
										i.fa.fa-twitter
							div.col-xs-4.col-sm-2
								div.telegram
									a(href="https://t.me/greenzelen" target="_blank")
										i.fa.fa-telegram
							div.col-xs-4.col-sm-2
								div.instagram
									a(href="https://instagram.com/greenzelen" target="_blank")
										i.fa.fa-instagram
							div.col-xs-4.col-sm-2
								div.email
									a(href="mailto:maria.perlovskaya@gmail.com" target="_blank")
										i.fa.fa-envelope
							div.col-xs-4.col-sm-2
								div.linkedin
									a(href="https://www.linkedin.com/in/mariia-perlovskaya-49ab58100/" target="_blank")
										i.fa.fa-linkedin
							div.col-xs-4.col-sm-2
								div.bitbucket
									a(href="https://bitbucket.org/green_zelen/" target="_blank")
										i.fa.fa-bitbucket
								
