extends header.pug

block index
	div.board
		div.container
			//- Voipscan
			div.post.voipscan
				div.row
					div.col-xs-12
						div.greeting
							p Hi! My name is Maria and I create some interfaces for Russian startups.
					div.col-xs-12.col-sm-4
						div.image
							img.screen(src='images/screens/voip1.png' alt="greenzelen avatar")
					div.col-xs-12.col-sm-8
						div.description
							h2 Voipscan/iOS
							p Voip Scan is it messenger App for business chats and for cheap calls. Users can texting for more organisations for some services, like shops with delivery, pharmacies, medical centers and other. Don't need find sites and phone numbers  in internet, just open the organisation list and looking for what you need. Registrated organisation have a support for this App and reply you in chat. 

					