extends header.pug

block index
	div.board
		div.contant
			//- Voipscan
			div.post.voipscan
				div.line
					div.row
						div.col-xs-12
							div.greeting
								p Hi! My name is Maria and I create some interfaces for Russian startups.
						div.col-xs-12.col-sm-2
						div.col-xs-12.col-sm-4
							div.image
								img.screen(src='images/screens/voip1.png' alt="Card of organisation")
						div.col-xs-12.col-sm-4
							div.description.right
								h2 Voipscan / iOS / 2017
								p Voipscan is it messenger App for business chats and for cheap calls. Users may text for many organizations for some services, like shops with delivery, pharmacies, medical centers and other. Don't need to find sites and phone numbers on the internet, just open the organization list and looking for what you need. The registered organizations have a support for this App and reply you in chat.  
								p Also, by this application, you may call anywhere in the world and use text chat in the ordinary messenger mode.
								p The new version of Voipscan with my design will be released in App Store pretty soon.
						div.col-xs-12.col-sm-2
				div.line
					div.row
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip2.png' alt="List of organisations")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip5.png' alt="Call for number")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip3.png' alt="Chat with text")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip4.png' alt="Chat with audio")
			//- Jivusportom
			div.post.jivusportom
				div.line
					div.row
						div.col-xs-12.col-sm-2
						div.col-xs-12.col-sm-4
							div.description.left
								h2 Jivu Sport / iOS / 2017
								p Jivu Sport is an application for sports news and sports events. The App finds you geo position and proposes you available events what you may visit. The user can buy a ticket for an event like a spectator or take part in a competition. 
								p Besides this application work like sports news aggregator. You can find news with filters at your favorite sports and at your location.
								p Now this App in development and we waiting for release soon.
						div.col-xs-12.col-sm-4
							div.image
								img.screen(src='images/screens/sport1.png' alt="Lent of news and events")
						div.col-xs-12.col-sm-2
				div.line
					div.row
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/sport2.png' alt="Events and news filters")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/sport3.png' alt="Event")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/sport4.png' alt="Event in calendar")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/sport5.png' alt="Comments at news")
			//- Servicemall
			div.post.servicemall
				div.line
					div.row
						div.col-xs-12
							div.description.web
								h2 ServiceMall / Web / 2017
								p ServiceMall is a website for hiring people for small services, like repairs, cleaning and one-time specific professional work. At the website customers looking for helpers, and helpers looking for customers. Service include tasks manager, produced payment and reviews as well.
								p People compete for rating and got professional statuses. Website support controls the deals and rule enforcement.
								p Unfortunately, this website is no sponsored anymore and stopped at development status.
						div.col-xs-12
							div.image.web
								img.screen(src='images/screens/service1.png' alt="Card of order")
				div.line
					div.row
						div.col-xs-12
							div.image.web
								img.screen(src='images/screens/service2.png' alt="List of helpers")
				div.line
					div.row
						div.col-xs-12
							div.image.web
								img.screen(src='images/screens/service3.png' alt="List of orders")
						
			//- Habar
			div.post.habar
				div.line
					div.row
						div.col-xs-12.col-sm-2
						div.col-xs-12.col-sm-4
							div.image
								img.screen(src='images/screens/habar1.png' alt="Group chat")
						div.col-xs-12.col-sm-4
							div.description.right
								h2 Habar / Android / 2016
								p Habar is a messenger for ethnic Russian Muslims. They are speaking at different languages, but live and work together in a big country. This application can work like a typical chat, but at more, it helping people with translation other languages and remember praying time. 
								p At development process, I and other developers have researched a lot of ethnic and religion particular qualities. It was a really interesting and specifical halal project.
								p As I know this App still working with minimal changes at design.
						div.col-xs-12.col-sm-2
				div.line
					div.row
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/habar3.png' alt="Translater in chat")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/habar2.png' alt="Video call")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/habar4.png' alt="Qibla")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/habar5.png' alt="Prayer time")
			div.footer
				div.copyright
					strong greenzelen © 2017