extends header.pug

block index
	div.board
		div.contant
			//- Voipscan
			div.post.voipscan
				div.line
					div.row
						div.col-xs-12
							div.greeting
								p Hi! My name is Maria and I create some interfaces for Russian startups.
						div.col-xs-12.col-sm-2
						div.col-xs-12.col-sm-4
							div.image
								img.screen(src='images/screens/voip1.png' alt="Card of organisation")
						div.col-xs-12.col-sm-4
							div.description.right
								h2 Voipscan / iOS / 2017
								p Voipscan is it messenger App for business chats and for cheap calls. Users can text for more organizations for some services, like shops with delivery, pharmacies, medical centers and other. Don't need to find sites and phone numbers on internet, just open the organization list and looking for what you need. The registered organizations have a support for this App and reply you in chat.  
								p Also through this application, you can call anywhere in the world and use text chat in the ordinary messenger mode.
								p Today in AppStore started work the first version, without my design. But my creation now in development.
						div.col-xs-12.col-sm-2
				div.line
					div.row
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip2.png' alt="Card of organisation")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip5.png' alt="Card of organisation")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip3.png' alt="Card of organisation")
						div.col-xs-12.col-sm-3
							div.image
								img.screen(src='images/screens/voip4.png' alt="Card of organisation")





					