// Post
.post {
    margin-bottom: 5rem;
    .line {
        margin: 2rem 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .description {
        	&.web {
        		width: 80%;
        		margin: auto;
        	}
            &.right {
                padding-left: 2rem;
            }
            &.left {
                padding-right: 2rem;
            }
        }
        .image {
            &.web {
                text-align: center;
                img {
                    width: 80%;
                    box-shadow: 1px 1px 5px #868383;
                }
            }
        }
    }
}